<?xml version="1.0" encoding="UTF-8"?>
<!-- Gear stack logging -->
<Configuration status="WARN">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="smecalculus.bezmen" level="error"/>
    <Logger name="org.junit.jupiter.api" level="debug"/>
    <Logger name="com.github.dockerjava" level="info"/>
    <Root level="error">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>
