#jinja2: lstrip_blocks: True, trim_blocks: True
name: {{ solution.name }}

networks:
  stack_network:

configs:
  stack_config:
    file: ./{{ solution.config.file_name }}

services:
  {{ solution.storage.vendor }}:
    image: {{ solution.storage.vendor }}:{{ solution.storage.version }}-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: {{ solution.database.name }}
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - stack_network

{% for schema_key, schema in solution.schemas.items() %}
  {{ schema_key }}-dba:
    image: {{ schema.image.name }}:{{ schema.image.tag }}
    depends_on:
      {{ solution.storage.vendor }}:
        condition: service_healthy
    labels:
      image.name: {{ schema.image.name }}
    command: >
      --show-banner=false
      --changelog-file={{ schema_key }}/dba/changelog.yaml
      --url=jdbc:postgresql://{{ solution.storage.vendor }}:5432/{{ solution.database.name }}
      --liquibase-schema-name=public
      --default-schema-name=public
      --username=postgres
      --password=password
      --labels=schema,user
      update
      -Dschema.name={{ schema_key }}
      -Downer.name={{ schema.owner.name }}
      -Downer.password={{ schema.owner.password }}
    networks:
      - stack_network

  {{ schema_key }}-owner:
    image: {{ schema.image.name }}:{{ schema.image.tag }}
    depends_on:
      {{ schema_key }}-dba:
        condition: service_completed_successfully
    labels:
      image.name: {{ schema.image.name }}
    command: >
      --show-banner=false
      --changelog-file={{ schema_key }}/owner/changelog.yaml
      --url=jdbc:postgresql://{{ solution.storage.vendor }}:5432/{{ solution.database.name }}
      --liquibase-schema-name={{ schema_key }}
      --default-schema-name={{ schema_key }}
      --username={{ schema.owner.name }}
      --password={{ schema.owner.password }}
      update
    networks:
      - stack_network
{% endfor %}

{% for app_key, app in solution.apps.items() %}
  {{ app_key }}:
    image: {{ app.image.name }}:{{ hostvars.app.image_cids[app_key][:7] }}-{{ devenv }}
    ports:
      - 8080:8080
    configs:
      - source: stack_config
        target: /home/app/{{ solution.config.file_name }}
    command: >
      --solution.config.mapping.mode={{ solution.config.mapping_mode }}
      --spring.config.location=optional:file:application.yaml
    depends_on:
    {% for schema_key in solution.schemas.keys() %}
      {{ schema_key }}-owner:
        condition: service_completed_successfully
    {% endfor %}
    labels:
      image.name: {{ app.image.name }}
    networks:
      - stack_network
{% endfor %}
