---
solution:
  messaging:
    mapping:
      modes: [spring_mvc, spring_management]
  storage:
    protocol:
      mode: {{ solution.storage.vendor }}
      postgres:
        url: "jdbc:postgresql://{{ solution.storage.vendor }}:5432/{{ solution.database.name }}"
        schema: "{{ schema.name }}"
        username: "{{ schema.owner.name }}"
        password: "{{ schema.owner.password }}"
    mapping:
      mode: {{ solution.storage.mapping_mode }}
