{% set storage = product.storages[ops.storage.vendor] %}
{% set database = product.databases[ops.storage.vendor] %}
{% set schema = product.schemas[ops.storage.vendor] %}
product {
  messaging {
    mapping {
      modes = [spring_mvc, spring_management]
    }
  }
  storage {
    protocol {
      mode = {{ ops.storage.vendor }}
      {{ ops.storage.vendor }} {
        url = "jdbc:postgresql://storage:5432/{{ database.name }} }}"
        schema = "{{ schema.name }}"
        username = "{{ storage.owner.username }}"
        password = "{{ storage.owner.password }}"
      }
    }
    mapping {
      mode = {{ ops.storage.mapping_mode }}
    }
  }
}
