name: {{ product.name }}

networks:
  product:
    name: product
  gear:
    name: gear
    external: true

configs:
  product_config:
    file: ./{{ product.config.file_name }}

{% set storage = product.storages[ops[opsenv].storage.vendor]|combine(ops[opsenv].storage) %}
{% set database = product.databases[storage.vendor] %}
services:
  storage:
    image: {{ storage.image }}:{{ storage.version }}-alpine
    networks:
      - product
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: {{ storage.dba.username }}
      POSTGRES_PASSWORD: {{ storage.dba.password }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  database:
    image: {{ image_ns }}/db/{{ storage.vendor }}:{{ hostvars.db.image_tags[storage.vendor] }}
    networks:
      - product
    depends_on:
      storage:
        condition: service_healthy
    labels:
      image.key: db/{{ storage.vendor }}/{{ devenv }}
    command: >-
      --show-banner=false
      --classpath=/liquibase/changelog
      --changelog-file=dba/changelog.yaml
      --url=jdbc:postgresql://storage:5432/postgres
      --liquibase-schema-name=public
      --default-schema-name=public
      --username={{ storage.dba.username }}
      --password={{ storage.dba.password }}
      --labels=database,user
      update
      -Ddatabase.name={{ database.name }}
      -Downer.username={{ storage.owner.username }}
      -Downer.password={{ storage.owner.password }}

{% for schema in product.schemas[storage.vendor] %}
  {{ schema.name }}:
    image: {{ image_ns }}/db/{{ storage.vendor }}:{{ hostvars.db.image_tags[storage.vendor] }}
    networks:
      - product
    depends_on:
      database:
        condition: service_completed_successfully
    labels:
      image.key: db/{{ storage.vendor }}/{{ devenv }}
    command: >-
      --show-banner=false
      --classpath=/liquibase/changelog
      --changelog-file=owner/changelog.yaml
      --url=jdbc:postgresql://storage:5432/{{ database.name }}
      --liquibase-schema-name=public
      --default-schema-name={{ schema.name }}
      --username={{ storage.owner.username }}
      --password={{ storage.owner.password }}
      update
      -Dschema.name={{ schema.name }}
{% endfor %}

{% set apps = product.apps[ops[opsenv].app.lang]|selectattr('service', 'in', usages[purpose].apps) %}
{% for app in apps %}
  {{ app.service }}:
    image: {{ image_ns }}/app/{{ app.name }}:{{ hostvars.app.image_tags[app.name] }}
    networks:
      - product
      - gear
    ports:
      - 8080:8080
    configs:
      - source: product_config
        target: /home/app/{{ product.config.file_name }}
    command: >-
      --product.config.mapping.mode={{ product.config.mapping_mode }}
      --spring.config.location=optional:file:application.yaml
    depends_on:
    {% for schema in product.schemas.values()|flatten %}
      {{ schema.name }}:
        condition: service_completed_successfully
    {% endfor %}
    labels:
      image.key: app/{{ app.name }}/{{ devenv }}
{% endfor %}
